*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

nav{
    width: 100%;
    height: 8%;
    background-color:black;
    color: white;
}

.container{
    width: 100%;
    height: 100%;
    background-image:url("assets/imgs/game-page/bgImageDarkOver.png");
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.game-container{
    width: 100%;
    height:100%;
    /* background-image: url("assets/imgs/game-page/bgImgGamePage.png"); */
    
}

.top{
    height: 15%;
    /* background-color: yellow; */
    display: flex;
}
.middle{
    height: 57%;
    /* background-color:white; */
    display: flex;
}

.middle > div {
    height: 100%;
}

.bottom{
    display: flex;
    height: 20%;
    /* background-color:green; */
}

.mid-left {
    width: 35%;
    /* background: red; */
    display: flex;
}

.table {
    width: 30%;
    /* background: purple; */
}

.mid-right {
   width: 35%;
   display: flex;
    
}
.middle-right-card{
    width: 25%;
    height: 100%;
    /* background: red; */
}
.middle-right-score{
    width: 75%;
    height: 100%;
    /* background: goldenrod; */
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.middle-left-score{
    width: 75%;
    height: 100%;
    /* background: goldenrod; */
}
.middle-left-card,.middle-right-card{
    width:25%;
    height: 100%;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.middle-left-card img,.middle-right-card img{
    
    margin-top: -90px;
    
    height: 33%;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.637);

}

.middle-left-card img {
    transform: rotate(90deg) scale(0.6) ;
}

.middle-right-card img {
    transform: rotate(-90deg) scale(0.6) ;
}

.team-cards{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    /* background: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-cards img{
    height: 83%;
    margin-left: -20px;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.507);
    transition:transform 500ms ease;
}

#teammate-hand img {
    transform:rotate(180deg);
}
#player-1-cards img:hover{
    transform:scale(1.2) translateY(-20%);
    box-shadow: 0 0 16px rgba(255, 255, 240, 0.623);
    border-radius: 5px;
}

.team-cards img:nth-child(1){
    margin-left:0;
}

.middle-left-card img:nth-child(1),.middle-right-card img:nth-child(1) {
    margin-top: 0;
}

.player-name-card{
    width: 80%;
    height: 20%;
    /* background-color: greenyellow; */
    margin-bottom: 10px;
    display: flex;
}

.profile-image {
    width: 40%;
    height: 100%;
}

.profile-image img{
    height: 100%;
}

.player-name-and-score{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.player-name{
    margin-bottom:8px;
}

.current-trump{
    width: 20%;
    /* background-color: chocolate; */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    
}
.settings-icon{
    width: 20%;
    /* background-color: chocolate; */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    /*transform:translateX(-50%);*/
    
}
.settings-icon img{
    transition:transform 500ms ease;
}
.settings-icon img:hover{

    transform:scale(1.1);
}
.team-score{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    /* background-color:chocolate; */
    width: 80%;
    height:40%;
    margin-bottom:10px;
}
.team-score-count{
    font-size: 1.4rem;
    transform:translateY(-40%);
    
    
}
.count-purple-border{
    -webkit-text-stroke: 1px #FF00FF;
    animation:border-text-glow 1000ms ease infinite;
}
.count-green-border{
    -webkit-text-stroke: 1px #00FF9F;
    animation:border-text-glow 1000ms ease infinite;
}

.middle-left-score{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}
.dot{
    
    height: 20px;
    width: 20px;
    border-radius:50%;
    margin-left: 8px;
    
}
.green-dot{
    background-color: #00FF9F;
    box-shadow:0 3px 6px #00631A;
}

.purple-dot{
    background-color: #FF00FF;
    box-shadow:0 3px 6px #A70000;
}
.team-score-dots{
    display:flex;
    
}
.player-1-name-drop-shadow{
    text-shadow:0 3px 6px #FF00FF;
    animation:player-name-glow-enemy 2000ms ease infinite;
}
.player-3-name-drop-shadow{
    text-shadow:0 3px 6px #00631A;
    animation:player-name-glow-player 2000ms ease infinite;
}
.player-1-drop-shadow{
    border-radius: 50%;
    box-shadow:0 3px 6px #00FFA8;
    animation: glow-blue 4000ms infinite ease;

}
.player-2-drop-shadow{
    border-radius: 50%;
    box-shadow:0 3px 6px #FFD500;
    animation: glow-yellow 4000ms infinite ease;
}
.player-3-drop-shadow{
    border-radius: 50%;
    box-shadow:0 3px 6px #00FFE5;
    animation: glow-blue 4000ms infinite ease;
}
.player-4-drop-shadow{
    border-radius: 50%;
    box-shadow:0 3px 6px #FFD500;
    animation: glow-yellow 4000ms ease-in-out infinite ;
}
.trump{
    
    text-shadow: 0 3px 6px #FFD500;;
}
#trump-of-game{
    width: 18%;
}
.show-prev-4{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content:center;
    /* background-color: cornflowerblue; */
}
.show-prev-4 img{
    transition:transform 500ms ease; 
}
.show-prev-4 img:hover{
    transform:scale(1.1);
}
.balance-bottom{
    width: 20%;
}
.settings-icon-img{
    box-shadow: 0 2px 6px rgba(255, 0, 0,0.52);
    border-radius:50%;
}

.test-dot{
    
    animation:add-new-dot 3000ms ease infinite ;
}

/*************************/
.popups {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display:flex;/**flex**/
    /* z-index: 100; */
    animation:fade-in 1000ms ease;
}
.mid-cards {
    width: 75px;
}

@keyframes  fade-in{
    from{
        opacity:0;
    }to{
        opacity:1;
    }
}

@keyframes to-max-width{
    from{
        transform:scale(0.8) translate(-50%, -50%);
        

    }
    to{
        transform:scale(1) translate(-50%, -50%);
    }
}

.popup-inner{
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 20px;
    box-shadow:0 0 16px   rgba(255, 255, 255,0.3);
    padding: 50px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: to-max-width 1000ms ease;
}
.select-trumps{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;;
}
.trump-cards-symbols{
    height:20%;
    width:100%;    
    justify-content:space-between;
    align-items:center;
    padding: 20px;
    
    display: flex;
}


.player-connect-inner {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 20px;
    padding: 10rem;
    
}



.waiting-for-trumps{
    color: white;
    padding:60px 100px;
    font-size:1.3rem;
    display: none;
}
.game-details{
    display:none;
}
.trump-cards{
    display: flex;

}

.trump-cards img{
    padding: 0px 10px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    display:flex;

    
}

.four-trump-cards{
    display:flex;
    position:absolute;
    
    bottom: 10%;
    animation:slide-in-bottom 1000ms ease;

}

@keyframes slide-in-bottom{
    from{
        bottom: 0;
        opacity: 0;
        
        
        
    }to{
        bottom: 10%;
        opacity: 1;
        
        
        
    }
}
.four-trump-cards img{
    width: 100px;
    margin-left: 10px;
    box-shadow:0 0 8px rgba(251, 255, 17, 0.664);
    border-radius: 6px;;
}
.four-trump-cards img:nth-child(1){
    margin-left:0;
}

.trump-cards{

    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition:transform 400ms ease;
    

}
.trump-cards:hover{
    transform:scale(1.1);
    
}

#trump-spades{
    background-image:url("assets/imgs/spades.png");
}
#trump-hearts{
    background-image:url("assets/imgs/hearts.png");
}
#trump-clubs{
    background-image:url("assets/imgs/clubs.png");
}
#trump-diamonds{
    background-image:url("assets/imgs/diamonds.png");
}
/**************************/

@keyframes add-new-dot{
    0%{
        transform:scale(0);
    }
    50%{
        transform:scale(1);
    }100%{
        transform:scale(0);
    }
}

@keyframes glow-yellow{
    0%{
        box-shadow: 0 3px 6px #FFD500;
    }
    50%{
        box-shadow: 0 3px 16px #FFD500;
    }100%{
        box-shadow: 0 3px 6px #FFD500;
    }
}

@keyframes glow-blue{
    0%{
        box-shadow: 0 3px 6px #00FFE5 ;
    }
    50%{
        box-shadow: 0 3px 16px #00FFE5 ;
    }100%{
        box-shadow: 0 3px 6px #00FFE5 ;
    }
}

@keyframes player-name-glow-player{
    0%{
        text-shadow: 0 3px 6px #00FF9F;
    }
    50%{
        text-shadow: 0 3px 16px #00FF9F;
    }100%{
        text-shadow: 0 3px 6px #00FF9F;
    }
}
@keyframes player-name-glow-enemy{
    0%{
        text-shadow: 0 3px 6px #FF00FF;
    }
    50%{
        text-shadow: 0 3px 16px #FF00FF;
    }100%{
        text-shadow: 0 3px 6px #FF00FF;
    }
}

@keyframes border-text-glow{
    0%{
        -webkit-text-stroke: 0px #FF00FF;
    }50%{
        -webkit-text-stroke: 2px #FF00FF;
    }100%{
        -webkit-text-stroke: 0px #FF00FF;
    }
}

@keyframes invalid-move{
    0%{
        box-shadow: 0 0 6px red;
        transform:rotate(0);
    }
    25%{
        box-shadow: 0 0 16px red;
        transform:rotate(5deg);
    }
    50%{
        box-shadow: 0 0 6px red;
        
    }
    75%{
        box-shadow: 0 0 16px red;
        transform:rotate(-5deg);
    }
    100%{
        box-shadow: 0 0 0px red;
        transform:rotate(0);
    }
}