body{
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}
/* ----------------------- nav-bar ----------------------- */
ul {
   list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.63);
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container {
    background-image: url("assets/imgs/game-page/bgImgGamePage.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#profile-img{
    margin-top: -5px;
}

/* ----------------------- body ----------------------- */
.home-box{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.left-side-div{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 89vh;
    width: 20vw;
}
.left-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}
.table{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 89vh;
    width: 60vw;
}
.right-side-div{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 89vh;
    width: 20vw;
}

#trumps-text{
    margin-bottom: -5px;
    color: seashell;
}

.points{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.point-balls{
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.486);
    margin-left: 5px;
    border-radius: 50px;
}

.team{
    margin-bottom: -20px;
}
.player{
    display: flex;
    flex-direction: row;
    margin-top: 30px;

}
.player-profile{
    border: 2px solid seashell;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    
}
.team-1{
    box-shadow: 0px 5px 10px #00FF9F;
}
.team-2{
    box-shadow: 0px 5px 10px #eeff00;
}
.user{
    width: 60px;
    height: 60px;
}
.name-text{
    /* border: 2px solid red; */
    margin-left: 20px;
    color: seashell;
}
.team-1-name{
    text-shadow: 0px 3px 5px #00FF9F;
}
.team-2-name{
    text-shadow: 0px 3px 5px #FF00FF;
}
.player-points{
    margin-top: 20px;
}
/* --------------cards table-------------- */
.omi-table{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    height: 90vh;
}
.mid-table{
    /* border: 2px solid blue; */
    height: 70vh;
    width: 20vw;
}
.player-1-cards{
    margin: -110px;
}
.box{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    height: 90vh;
    width: 70vw;
}
.rotate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    transform: rotate(90deg);
}
.team-1-cards{
    margin-left: -20px;
    border-radius: 5px;
}
.team-2-cards{
    margin-left: -20px;
    border-radius: 5px;
}
.card-hover:hover{
    cursor: pointer;
    transition: 0.5s;
    transform: translateY(-20px);
}

/* @media only screen and (max-width: 800px){
    .home-box{
        display: none;
    }
} */

/* Trump Cards Select */
#trump-spades{
    background-image:url("assets/imgs/spades.png");
}
#trump-hearts{
    background-image:url("assets/imgs/hearts.png");
}
#trump-clubs{
    background-image:url("assets/imgs/clubs.png");
}
#trump-diamonds{
    background-image:url("assets/imgs/diamonds.png");
}
.trump-cards{

    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition:transform 400ms ease;
    

}
.trump-cards:hover{
    transform:scale(1.1);
    
}

/*******************************************************/
.popups {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 20px;
    box-shadow:0 0 16px   rgba(255, 255, 255,0.3);
    padding: 50px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.select-trumps{
    height:20%;
    width:40%;    
    justify-content:space-between;
    align-items:center;
    padding: 20px;
    
    display: flex;/***none**/
}


.player-connect-inner {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 20px;
    padding: 10rem;
    display: none; /*remove*/
}

.waiting-for-trumps{
    color: white;
    padding:60px 100px;
    font-size:1.3rem;
    display: none;
}
.game-details{
    display:none;
}
.trump-cards{
    display: flex;

}

.trump-cards img{
    padding: 0px 10px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    display:flex;

    
}

.four-trump-cards{
    display:flex;
    position:absolute;
    bottom: 10%;
}