* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    background-image: url('assets/imgs/home-page/homeBG.png');
    background-size: cover;
    background-position:center;
    height: 100vh;
    width: 100vw;
}
.container{
    width: 100%;
    height: 100%;
    

}
.omi-logo{
    transform:scale(0.4);
    animation:getting-bigger 1000ms ease;

}
.img-container{
    animation: shake 1000ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes shake{
    0%{
        transform: rotate(0) ;
    }
    5%{
        transform: rotate(-10deg) ;
    }
    10%{
        transform: rotate(0deg) ;
    }
    15%{
        transform: rotate(10deg) ;
    }
    20%{
        transform: rotate(0) ;
    }
    25%{
        transform: rotate(-10deg) ;
    }
    30%{
        transform: rotate(0deg) ;
    }
    35%{
        transform: rotate(10deg) ;
    }
    40%{
        transform: rotate(0) ;
    }
    45%{
        transform: rotate(10deg) ;
    }
    50%{
        transform: rotate(0) ;
    }
    55%{
        transform: rotate(-10deg) ;
    }
    60%{
        transform: rotate(0deg) ;
    }
    65%{
        transform: rotate(10deg) ;
    }
    75%{
        transform: rotate(0) ;
    }
    80%{
        transform: rotate(0) ;
    }
    85%{
        transform: rotate(-10deg) ;
    }
    90%{
        transform: rotate(0deg) ;
    }
    95%{
        transform: rotate(10deg) ;
    }
    100%{
        transform: rotate(0) ;
    }
}

@keyframes getting-bigger{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(0.4);
    }
}