*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: gameFont;
}

.room-main-div{
    background-image: url(assets/imgs/room-page/background-img.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.room-navbar{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
}
.nav-items{
    display: flex;
    align-items: center;
    position: absolute;
    left: 65%;
}

.download-btn{
    background: linear-gradient(to right,rgb(10, 225, 51), rgb(0, 179, 105));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.37);
    color: snow;
    cursor: pointer;
}

.download-btn:hover{
    transition: 0.2s;
    transform: scale(1.05);
}

.player-score-div{
    background-color: snow;
    display: flex;
    align-items: center;
    height: 40px;
    width: 180px;
    border-radius: 100px;
    padding-left: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.37);
}

.score{
    margin-left: 20px;
    font-size: 35px;
    color: rgb(255, 70, 26);
}

.logout-btn:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.05);
}

.game-logo{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space{
    margin-right: 20px;
}

.space:nth-child(1){
    margin-left: 0;
}

.game-logo-img{
    width: 250px;
}

.room-container{
    width: 100%;
    height: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-texts{
    font-size: 40px;
}

.div-text{
    font-size: 10px;
}

.container-btns{
    background-color: rgb(255, 249, 84);
    width: 27%;
    height: 80%;
    border-radius: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(55, 55, 55);
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.37);
}

.container-btns:hover{
    transition: 0.2s;
    transform: scale(1.05);
}

.container-btns:nth-child(1){
    margin-left: 0;
}

.small-btn{
    height: 60%;
}

.room-addbar{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addbar{
    background-color: snow;
    width: 70%;
    height: 80%;
}

/* ********************************* */
.room-popups{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(55, 55, 55, 0.712);
    width: 100vw;
    height: 100vh;
    display: none; /* danata */
    animation: fade-in 1s ease;
}

.mid-popup-div{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 50%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.37);
    animation: pop 0.5s ease;
}

.mid-popup-head-div{
    display: flex;
    justify-content: space-between;
}

.close-btn{
    transform: translate(80%,10%);
    cursor: pointer;
}
.close-btn:hover{
    transition: 0.5s;
    transform: scale(1.05) translate(100% , 10%);
}
.popup-text, #room-id, .join-btn{
    margin: 20px;
}
.popup-text{
    transform: translateX(10%);
    color: snow;
    font-size: 40px;
}

#join-party-text{
    transform: translateX(20%);
}

#room-id{
    padding: 15px 25px 15px 25px;
    border-radius: 50px;
}

.join-btn{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
}

.join-btn:hover{
    transition: 0.2s;
    transform: scale(1.05);
}

#join-party-div{
 display: none; /* danata */
}

#leaderboard-div{
    height: 90%;
    padding-bottom: 20px;
    display: none; /* danata */
}

.leaderboard-score{
    background-color: rgb(145, 145, 145);
    width: 80%;
    height: 20%;
    margin: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-ranking{
    color: rgb(233, 156, 26);
}
.div-space{
    margin-left: 150px;
}
.div-space:nth-child(1){
    margin-left: 0;
}
@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes pop{
    from{
        transform: scale(0) translate(-50%,-50%);
    }
    to{
        transform: scale(1) translate(-50%,-50%);
    }
}

@font-face{
    font-family: gameFont;
    src: url(assets/fonts/SerpentineDBol.ttf);
}